@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap);

:root {
    --primary-color: #000000;
    --secondary-color: #ffff;
    --tertiary-color:  #FF0000;
    --quaternary-color:#FFA500;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none; 
    list-style: none;
    font-family:'Poppins',sans-serif;
    scroll-behavior: smooth; 
}

header{
    display: flex;   
    align-items: center;
    max-height: 80vh;   
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu{
    position: absolute;
    top: 10px; 
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    font-weight: 600; 
}

.logo{
    width: 100px;
}

.menu .navbar ul {
    list-style: none;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size:18px;
    padding: 20px;
    color: var(--primary-color);
    display: block;
    text-transform: uppercase;
}

.menu .navbar ul li a:hover {
    color: var(--terceary-color);
}

#menu{
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}


/* --------------------------HEADER-------------------------- */


.header-content{
    display: flex;
    align-items: center;
    padding: 200px 0 150px 0;
}

.header-txt{
    width: 70%;
    padding-right: 25px;
}

.header-txt h1{
    font-size: 55px;
    line-height: 70px;
    font-weight: 800;    
    color: var(--primary-color);
    margin-bottom: 25px;
}

.header-txt p{
    font-weight: 500;
    font-size: 18px;
    color: var(--quaternary-color);
}

.header-img{
    width: 750px;
    height: auto;
}

.airjordan{
    height: 100%;
    width: 100%;
}

/* -------------------------CATEGORIAS-------------------------------------- */


.category{
    display: flex;
    justify-content: space-between;
    padding:  50px;
    max-height: 80vh;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}
.category h2:hover{
    color: var(--quaternary-color);
}

h2{
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 800;
}

.info-1{
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(/assets/images/categoria-indumentaria.webp); 
    background-position: center;  
    background-repeat: no-repeat;
    background-size: cover; 
    height: 300px;
    width: 250px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    cursor: pointer;
}

.info-1:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.788); 
}

.info-2{
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(/assets/images/zapatillas.png); 
    background-position: center;  
    background-repeat: no-repeat;
    background-size:contain; 
    height: 300px;
    width: 250px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    cursor: pointer;   
}

.info-2:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.788); 
}

.info-3{
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(/assets/images/categoria-accesorios.jpg); 
    background-position: center;  
    background-repeat: no-repeat;
    background-size: cover; 
    height: 300px;
    width: 250px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 25px;  
    cursor: pointer; 
}

.info-3:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.788); 
}


/* ------------------------PRODUCTOS MAS VENDIDOS-------------------------------- */


.products {
    position: relative;
    padding: 50px; 
    max-height: auto;
    background-color: var(--secondary-color);
    margin-bottom: 50px;
}

.title{
    padding:10px;
}

.title h2 {
    font-size: 55px;
    line-height: 70px;
    font-weight: 600;    
    color: var(--primary-color);
    margin-bottom:25px;
}

.products-container {
    max-width: 1200px;
    margin: auto;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 300px)); 
    gap:60px;
    justify-content: center;
    align-items: center;    
}

.box-products {
    background-color: var(--secondary-color);
    height: 400px;
    width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    cursor: pointer;
    text-align: center;    
}

.box-products:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.788); 
}

.titles {
    padding-top: 15px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.product-img img {
    padding-top: 10px;
    width: 200px;
    height: auto;   
    filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.6));
}

.product-txt {
    color: rgb(81, 81, 81);
    font-weight: bold;   
}

.btn-1 {
    margin-top: 15px;
    cursor: pointer;
    padding: 7px;
    background-color:var(--primary-color);
    border: none;
    min-width: 120px;
    border-radius: 15px;
    font-weight: bold;
    color: var(--secondary-color) 
}

.btn-1:hover {
    background-color: var(--terceary-color);
}


/* ------------------------CONTACTO-------------------------------- */


.contacts {
    font-size: 55px;
    line-height: 70px;
    font-weight: 600;    
    color: var(--primary-color);
    margin-bottom:25px;
}

.sobre {
    height: 80vh;
    background-color: var(--secondary-color);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

form {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 35px;
    width: 600px; 
    height: 650px;
    flex-direction: column; 
    align-items: center;
    color: rgb(76, 76, 76);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
     
}

.input {
    margin-bottom: 25px;
}

.input label {
    display: block;
    margin-bottom: 0px;
    font-weight: 500;
}

.input input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(110, 110, 110);
    border-radius: 25px;
    margin-bottom: 10px;
}

.input textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid rgb(110, 110, 110);
    border-radius: 25px;
    margin-bottom: 10px;
}

.btn-2 {
    margin-top: 20px;
    cursor: pointer;
    padding: 10px 20px;
    width: 150px;
    padding: 15px;
    background: var(--primary-color); 
    color: var(--secondary-color);
    border: none;
    border-radius: 35px;   
    display: block;
    margin: auto;
    font-weight: bold;
    font-size: 15px;
}

.btn-2:hover {
    background:var(--terceary-color);
}


/* ------------------------FOOTER-------------------------------- */

.footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 50px 0;
    text-align: left;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-container i {
    cursor: pointer;
}

.title-footer {
    padding-bottom: 10px;
}

.phone, .email {
    color: var(--primary-color);
    text-decoration: none;
}

.texto-email {
    margin-top: 10px;
}

.phone:hover, .email:hover {
    color: var(--terceary-color);
}


/* ------------------------WSPP-------------------------------- */


.container-boton{
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: 25px;  
}


.container-boton:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.boton{
    width:110px;
    transition: ease 1s;
}



/* RESPONSIVE */

@media only screen and (max-width: 480px) {

    /*-------------------- Redimension "NAVBAR" -------------------- */    
    .menu{
        padding: 30px;
        margin-bottom: 30px 
    }

    .menu label {
        display: initial;       
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: none;                 
        background-color: rgba(255, 255, 255, 0.762);
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked  ~ .navbar {
        display: initial;   
    }
    
    .logo{
        width: 50px;
    }
}    

    /*-------------------- Redimension "HEADER" -------------------- */
@media only screen and (max-width: 480px) {
    .header-content{
        flex-direction: column;     
        padding: 180px 30px 30 px 30px;
    }

    .header-txt{
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .header-txt h1{
        font-size: 40px;
        line-height: 70px;
    }
    
    .header-txt p {
        margin: 10px;
    }
    .header-img{
        width: 300px;
    }
}
    /*-------------------- Redimension "CATEGORY" -------------------- */
@media only screen and (max-width: 480px){
    .category{
        flex-direction: column;
        align-items: center;
    }

    .info-1 , .info-2, .info-3{
        margin-bottom: 50px;
    }
}

    /*-------------------- Redimension "PRODUCTS" -------------------- */

@media only screen and (max-width: 480px){
    .products{
        align-items: center;
    }
    .title h2{    
        font-size: 35px;
    }
    .products-grid{
        margin-left: 32%;
        margin-right: 30%;
        grid-template-columns: 1fr; 
        gap: 1em;
    }
}

    /*-------------------- Redimension "CONTACTO" -------------------- */
   
@media only screen and (max-width: 480px){
       .contacts {
        font-size: 35px;
    }

    form{
        width: 370px; 
        height: auto;
    }
}
    
    /*-------------------- Redimension "FOOTER" -------------------- */
@media only screen and (max-width: 480px){
    .footer{
        text-align: center; 
    }
    .boton{
        width:80px;
        transition: ease 1s;
    }
}
